.homeButton {
    margin-top: 10px;
    margin-left: 20px;
}

.buttonCrea{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.showButton{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.immagine {
    height: 375px;
    width: 250px;
    margin-left: 20px;
    border: 5px solid black;
    box-shadow: black 5px 5px 5px;
}

.column1 {
    float: left;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.column2 {
    float: left;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
}

.row:after {
    display: table;
    clear: both;
}
.info{
    float: left;
    font-weight: bold;
    margin-right: 5px;
}
h2{
    font-weight: bold;
}
h4{
    font-weight: bold;
}
