<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/libro.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="homeButton">
        <button type="button" class="btn btn-primary">Torna alla home</button>
    </div>
    <div class="row">
        <div class="column1" style="text-align: center">
            <img th:src="${session.libro.copertina}" class="immagine">
        </div>
        <div class="column2">
            <div class="infoLibro">
            <div class="info">
                <p>Titolo:</p>
            </div>
            <div class="attributi">
                <p th:text="${session.libro.nome}"></p>
            </div>
            <div class="info">
                <p>Autori:</p>
            </div>
            <div class="attributi">
                <p th:text="${session.libro.autore}"></p>
            </div>
            <div class="info">
                <p>Generi:</p>
            </div>
            <div class="attributi">
                <p th:text="${session.libro.generi}"></p>
            </div>
            <div class="info">
                <p>Lingua: </p>
            </div>
            <div class="attributi">
                <p th:text="${session.libro.lingua}"></p>
            </div>
            <div class="info">
                <p>Pagine: </p>
            </div>
            <div class="attributi">
                <p th:text="${session.libro.numeroPagine}"></p>
            </div>
            <div>
                <h4>Trama</h4>
                <p style="margin-right: 30px" th:text="${session.libro.descrizione}"></p>
            </div>
        </div>
        </div>
    </div>

    <form action="/showReview" method="POST" class="showButton">
        <button id="mostraRecensioni" type="submit" class="btn btn-primary">Visualizza recensioni</button>
    </form>
</body>
</html>